<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    
	<title>Home</title>
	<link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
	<script th:src="@{/js/bootstrap.min.js}"></script>

</head>
<body>
	<div class="container-fluid">
		<h1>Sistem Informasi Kepegawaian</h1>
		<h3>Selamat Datang di Sistem Informasi Kepegawaian</h3>
		<div class="row">
  			<div class="col-md-6">
  				<div class="card">
  					<div class="card-header">
  						Lihat Pegawai berdasarkan NIP
  					</div>
  					<form th:action="@{/pegawai}" method="GET">
  						<div class="card-body">
  							<label for="nip">Masukkan Nomor Induk Pegawai</label>
							<input type="text" name="nip" class="form-control"/>
							<p></p>
							<button type="submit" class="btn btn-primary">Lihat</button>
  						</div>
  					</form>
  				</div>
  			</div>
  		</div>
  		<div class="row">
  			<div class="col-md-6">
  				<div class="card">
  					<div class="card-header">
  						Lihat Detail Jabatan
  					</div>
  					<form th:action="@{/jabatan/view} " method="GET">
  						<div class="card-body">
  							<label for="jabatan">Pilih Jabatan</label>
							<select required name="id_jabatan" id="form-value" class="form-control">
									<option
					                   th:each="jabatan,iterationStatus: ${allJabatan}"
					                   th:text="${jabatan.nama}" th:value="${jabatan.id}"></option>
					                <option selected hidden value=''>--- Pilih Jabatan  ---</option>
								</select>
							<p></p>
							<button type="submit" class="btn btn-primary">Lihat</button>
  						</div>
  					</form>
  				</div>
  			</div>
  		</div>
<!--  	<div  style="margin:25px;">
		<div>
			Lihat Pegawai berdasarkan NIP
		</div>
		<form th:action="@{/pegawai}" method=GET>
			<div>
				<label for="nip">Masukkan Nomor Induk Pegawai</label>
				<input type="text" name="nip" class="form-control"/>
				<p></p>
				<button type="submit" class="btn btn-primary">Lihat</button>
			</div>
		</form>
	</div>  -->
	</div>
</body>
</html>