<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
       <title th:replace="fragments/fragment :: header('Lihat Semua Jabatan')"></title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
	
</head>
<style th:replace="fragments/fragment :: style"></style>
  <body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<h3 class="sistem" style="text-align:center">Daftar Jabatan</h3>
	<br>
    <div class="container">
		<table id="table_id" class="display">
			<thead>
				<tr>
					<th>Nama</th>
					<th>Deskripsi</th>
					<th>Gaji Pokok</th>
				</tr>
			</thead>
				<tbody>
					<tr th:each="jabatan : ${listJabatan}">
						<td th:text="${jabatan.nama}"></td>
						<td th:text="${jabatan.deskripsi}"></td>
						<td th:text="${jabatan.gaji_pokok}"></td>
					</tr>
				</tbody>
		</table>
   </div>
</body>
</html>