<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:replace="fragments/fragment :: header('Lihat Jabatan!')"></title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
	
</head>
<style th:replace="fragments/fragment :: style"></style>
  <body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<h1 th:text="'Detail Jabatan  ' + ${jabatan.nama}"></h1>
    <div class="container">
    	<table class ="table table-borderless table-striped">
			<tbody>
				<tr>
					<th>Nama</th>
					<td th:text="${jabatan.nama}"></td>
				</tr>
				<tr>
					<th>Deskripsi</th>
					<td th:text="${jabatan.deskripsi}"></td>
				</tr>
				<tr>
					<th>Gaji Pokok</th>
					<td th:text="${jabatan.gaji_pokok}"></td>
				</tr>
				
			</tbody>
		</table>
		<form th:action="@{/jabatan/ubah}" method="GET">
				<input type="hidden" th:value = "${jabatan.id}" name="id_jabatan"/>
				<button class="btn btn-primary" type="submit">Ubah</button>
		</form>
		<form th:action="@{/jabatan/hapus}" method="POST">
				<input type="hidden" th:value = "${jabatan.id}" name="id_jabatan"/>
				<button class="btn btn-primary" type="submit">Hapus</button>
		</form>
    </div>
</body>
</html>